/* 언어 설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* reset */
* {margin: 0; padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #000;}
img {border: none; vertical-align: bottom;}
body {font-family: 'Noto Sans KR', sans-serif;
        /* cursor: none; */
        overflow-x: hidden; /* 가로 스크롤 x*/
}




/* 메인페이지 스크롤바 색상 설정 */
::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #56230E;
}


/* 메인페이지 민트초콜릿 마우스  */
.custom-cursor {
    width: 150px; 
    height: 150px; 
    background-image: url('img/cursor.png'); 
    background-size: cover;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 9999; /* 다른 요소 위에 표시하기 위한 z-index 설정(순서-최상위임) */
    pointer-events: none; /* 마우스 이벤트를 무시함 */
}


/* 타이틀위에 초코 아이콘 무리들 애니메이션 */
.area_logo, .weare_logo, .titleIconImg, .letterIcon, .titleIcon, .milt_titIcon {
    animation: chocomove 1s infinite alternate ease-in-out;
}

@keyframes chocomove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); 
    }
}









/* header 설정 */
header {
    width: 100%;
    height: 171px;
    background-color: #FFF2DE; 
    position: relative;
}

header h1 {
    position: absolute;
    top: 31px;
    left: 80px;
}


/* SNS 유틸리티 */
.util {
    display: flex;
    position: absolute;
    top: 12px;
    right: 16px;
}

.util li {
    padding-right: 10px;
}
.util li a {}





/* GNB */
.gnb {}
.gnb ul {display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 200px;}
.gnb ul li {
    padding-top: 68px;
    padding-right: 90px;
    
}
.gnb ul li a {
    font-size: 25px;
}
.gnb ul li a:hover {
    color: #FFC450;
    cursor: none;
}





/* hero 설정 */
.hero {
    width: 100%;
    height: 822px;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    background-image: url(img/hero_bg.svg);
    overflow: hidden;
}

.hero p {
    position: absolute;
    top: 283px;
    left: 400px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    animation: slide 2s ease-in-out alternate;
    
}

@keyframes slide {
    0% {
        left: -400px;
    }
    100% {
        left: 400px;
    }
}

.hero img {
    width: 600px;
    height: 746px;
    position: absolute;
    right: 300px;
    top: 0;
    animation: chocomove 1s infinite alternate ease-in-out;
}

@keyframes chocomove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); 
    }
}





/* area 설정 */
.areaBox {
    width: 100%;
    height: 1000px;
    background-image: url(img/choco_back.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    
}
.areaBox .area {
    position: relative;
    width: 100%;
    
}


/* 타이틀 로고 */
.areaBox .area_logo {
    width: 100%;
    position: absolute;
    text-align: center;
    /* top: 29%;
    left: 48%; */
    padding-top: 70px;
    
}

.areaBox .area h2 {
    
    color: #eee;
    font-size: 60px;
    text-align: center;
    padding-top: 100px;

}

.areaBox .area .imgBox {
    width: 100%;
    text-align: center;
    margin-top: 220px;
    
}
.areaBox .imgBox a {
    margin-right: 30px;
}

/* hover 하면 움직임 */
.areaBox .imgBox:hover {
    animation: hover01 0.5s infinite alternate;
}
@keyframes hover01 {

    0% {  transform: rotate(4deg);}
    100%{  transform: rotate(-4deg);}
}

/* weare 설정 */
.weare {
    width: 100%;
    height: 900px;
    
}

.weare .weare_logo {
    text-align: center;
    margin-top: 30px;
}

.weare h2 {
    color: #56230E;
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.weare .vid {
    width: 100%;
    /* height: 1200px; */
    overflow: hidden;
    position: relative; /* 영상위에 초코들 */
}

video {
    width: 100%;
    /* height: 800px; */
}



/* 동영상 위에서 초콜릿 내려오기 */
.weare .vid {
    position: relative;
    width: 100%;
}

.weare .vid .vid_img1 {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.weare .vid .vid_img2 {
    position: absolute;
    top: 10px;
    right: 0;
}




/* milt 설정 */
.milt {
    width: 100%;
    min-height: 100vh;
    position: relative;
    
}


/* 허쉬할아버지 img */
.milt_inner1 {
    width: 100%;
    height: 900px;
    position: absolute;
    top: 40%;
    left: 10%;
    animation: slide2 1.5s ease-in-out alternate;

}
/* .milt_inner1 .imgBox {
    width: 100%;
    height: 900px;
    position: absolute;
    top: 40%;
    left: 10%;
    animation: slide2 1.5s ease-in-out alternate;
    
} */

@keyframes slide2 {
    0% {
        left: -400px;
    }
    100% {
        left: 400px;
    }
}

.milt_inner2 {
    width: 50%;
    height: 1000px;
    text-align: center;
    
}

.milt_inner2 h2 {
    color: #56230E;
    font-size: 60px;
    font-weight: normal;
    position: absolute;
    right: 25%;
    top: 45%;

}

/* 타이틀 아이콘 */
.milt_titIcon {
    position: absolute;
    top: 40%;
    right: 39%;
}

.milt_inner2 h2 span {
    font-family: 'Italianno', cursive;
    font-size: 30px;
    padding-left: 10px;
    font-weight: normal;
}

.milt_inner2 p {
    font-size: 24px;
    color: #56230E;
    position: absolute;
    right: 23%;
    top: 60%;
}

/* 하단 하트허쉬 */
.milt_inner2 .hs_s2 {
    position: absolute;
    right: 12%;
    bottom: 0;
}



/* banner 설정 */
.banner {
    width: 100%;
    height: 2185px;
    background-image: url(img/banner_bg2.svg);
    background-size: cover;
    position: relative;
}



.banner .banner_inner1 .img01 {
    position: absolute;
    top: 10px;
    left: 100px;
    animation: bannerslide1 2s ease-out;
}
.banner .banner_inner1 .img02 {
    position: absolute;
    top: 10px;
    right: 100px;
    animation: bannerslide2 2s ease-out;
}
.banner .banner_inner1 .img03 {
    position: absolute;
    left: 10%;
    top: 30%;
    animation: bannerslide3 2s ease-out;
}
.banner .banner_inner1 .img04 {
    position: absolute;
    right: 10%;
    bottom: 50%;
    animation: bannerslide4 2s ease-out;
}



/* 초코 슬라이드1 */
@keyframes bannerslide1 {
    from {
        left: -100px;
        opacity: 0
    }
    to {
        left: 100px;
        opacity: 1

    }
}


/* 초코 슬라이드2 */
@keyframes bannerslide2 {
    from {
        right: -100px;
        opacity: 0
    }
    to {
        right: 100px;
        opacity: 1

    }
}


/* 초코 슬라이드3 */
@keyframes bannerslide3 {
    from {
        left: -10%;
        opacity: 0
    }
    to {
        left: 10%;
        opacity: 1

    }
}



/* 초코 슬라이드4 */
@keyframes bannerslide4 {
    from {
        right: -10%;
        opacity: 0
    }
    to {
        right: 10%;
        opacity: 1

    }
}









/* 둥둥뜨는 애니메이션 */
.banner .banner_inner1 .imgBox > img {
    animation: chocomove2 1s infinite alternate ease-in-out;
}

@keyframes chocomove2 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); 
    }
}



.banner .banner_inner1 p {
    color: #FFC450;
    text-align: center;
    padding-top: 400px;
    font-size: 60px;
    font-weight: bold;

}






/* banner_inner2 */
/* 심플한 재료, 행복의 맛! */
.banner2 .titleIconImg {
    position: absolute;
    top: 51%;
    left: 48%;
}
.banner2 p {
    text-align: center;
    padding-top: 600px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.banner2 .imgBox {
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top: 50px;
    /* position: absolute;
    left: 29%;
    bottom: 10%;*/
} 





/* donation 설정 */
.donation {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    position: relative;
}

.donation .letterIcon img {
    width: 140px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 25%;
}

.donation h2 {
    color: #56230E;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
}
.donation .txtBox {
    text-align: center;
    padding-top: 21px;
    font-size: 24px;
    
}

/* 우리의 중점분야 */
.donation .txtBox2 {
    text-align: center;
    padding-top: 73px;
    font-size: 24px;
}
.donation p {
    padding-top: 10px;
}



/* donation_inner */
.donation_inner {
    margin-bottom: 100px;
}
.donation_inner2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.donation_inner2 > div {
    margin-top: 40px;
    margin-right: 40px;
}
.donation_inner2 p {
    text-align: center;
    padding: 20px;
    
}


/* 마우스 hover 시 확대 */
.donation_inner2 img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}







/* cook 설정(레시피) */
/* 배경 */
.cook {
    background-image: url(img/recipes_bg01.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 1600px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.cook .titleIcon img {
    position: absolute;
    top: 14%;
    left: 48%;
}

.cook h2 {
    color: #FFC450;
    font-size: 60px;
    text-align: center;
    padding-top: 100px;
}




/* 레시피 자동 슬라이드 */
.cook_imgBox {
    width: 100%;
    height: 600px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.cook_imgBox .img_slide {
    display: flex;
}

.cook_imgBox ul {
    display: flex;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 190%; /* 각 이미지 리스트가 겹치지 않도록 전체 너비를 두 배로 설정 */
    animation: slideImg 10s linear infinite; /* 전체 이미지 너비에 맞게 애니메이션 설정 */
}

.cook_imgBox li {
    flex: 0 0 16.666%; /* 이미지 리스트 너비 설정 (6개의 이미지니까 100%를 6등분) */
    box-sizing: border-box;
}

.cook_imgBox li img {
    width: 550px;
    height: 600px;
}

.cook_imgBox:hover ul {animation-play-state: paused;}

@keyframes slideImg {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* 전체 이미지의 50%만큼 왼쪽으로 이동 */
}


















/* 레시피 자동슬라이드 
.cook_imgBox {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.cook_imgBox .img_slide {
    display: flex;
}

.cook_imgBox ul {
    display: flex;
    position: absolute;
    margin: 0 300px;
}

.cook_imgBox li {
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    
    margin: 0 165px;
}

.cook .img_slide li img {
    width: 400px;
    height: 410px;
}

.cook_imgBox ul:nth-child(1) {
    left: 0;
    animation: ani2 15s linear infinite;
}


.cook_imgBox ul:nth-child(2) {
    left: 100%;
    animation: ani1 15s linear infinite;
    
}

.cook_imgBox:hover ul {animation-play-state: paused;}




@keyframes ani1 {

    

    0%{left: 100%;}
    50%{left: 0;}
    100%{left: -100%;}
}

@keyframes ani2 {


    
    0%{left: 0;}
    50%{left:-100% ;}
    50.00001% {left: 100%;}
    100%{left: 0%;}
} */





/* footer 설정 */
footer {
    width: 100%;
    height: 250px;
    background-color: #56240e7e;
    position: relative;
    
}
footer .footerLogo {
    text-align: center;
    padding-top: 40px;
}
footer p {
    text-align: center;
    padding-top: 40px;
    color: #000;
}



