/* 서브페이지 스타일 시트!!! */
/* 언어 설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/* reset */
* {margin: 0; padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #000;}
img {border: none; vertical-align: bottom;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FFF2DE;
    cursor: none;
}



/* sub 스크롤바 설정 */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background:#FFC450;
}




/* sub 민트초콜릿 마우스 */
.custom-cursor {
    width: 150px; 
    height: 150px; 
    background-image: url('img/cursor.png'); 
    background-size: cover;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 9999; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
    pointer-events: none; /* 마우스 이벤트를 무시함 */
}




/* header 위에 Back 화살표 버튼 설정 */
.fa-arrow-left {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 40px;
    animation: arrowani 0.5s infinite alternate;
    color: #FFC450;
}

@keyframes arrowani {
    0% {transform: scale(1.0);
        opacity: 1;
        color: #56230E;}
    100% {transform: scale(1.5);
            opacity: 0.8;
            color: #FFC450;}
}



/* 헤더 설정 */
/* 허쉬 광고영상 송출 */
header {
    width: 100%;
    height: 780px;
    overflow: hidden;
}
.sub_vid {}



/* 헤더 설정 */
/* header {
    width: 100%;
    position: relative;
    
} */
/* header img {
    width: 100%;
    height: 454px;
} */

/* 제품 구매  */
/* header p {
    color: #FFC450;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 44%;
} */





/* 서브 페이지 타이틀 
(환상의 맛, 허쉬 브랜드)*/
.sub_sweet {}
.sub_sweet p {
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 100px;
    color: #FFC450;
    font-weight: bold;
}


/* 초콜릿 상품 상단 */
.upChoco {
    width: 100%;
    height: 600px;
}

.upChoco ul {
    display: flex;
    justify-content: center;
}

.upChoco li {
    margin-right: 49px;
    margin-bottom: 196px;
}

.upChoco a {
    cursor: none;
}

.upChoco img {}





/* 상단 버튼1 */
/* 크리미 밀크 초콜릿 버튼 */

.up_BTN01 {}
.up_BTN01 ul {
    display: flex;
    position: absolute;
    top: 143.8%;
    left: 20.8%;
}

.up_BTN01 li {
    border-radius: 50px;
    background-color: #3F000B;
    padding: 4px 40px;
    font-size: 25px;
    color: #FFC450;
    font-weight: bold;
    margin-right: 10px;
}

.up_BTN01 li:hover {
    border-radius: 50px;
    background-color: #FFC450;
    padding: 4px 40px;
    font-size: 25px;
    color: #3F000B;
    font-weight: bold;
    margin-right: 10px;
    cursor: none;
}
.up_BTN01 a {}


/* 상단 버튼2 */
/* 쿠키앤크림 버튼 */
.up_BTN02 {}
.up_BTN02 ul {
    display: flex;
    position: absolute;
    top: 143.8%;
    left: 41.4%;
}


.up_BTN02 li {
    border-radius: 50px;
    background-color: #3F000B;
    padding: 4px 40px;
    font-size: 25px;
    color: #FFC450;
    font-weight: bold;
    margin-right: 10px;
}

/* 마우스 hover 했을 때 버튼 컬러 반전 */
.up_BTN02 li:hover {
    border-radius: 50px;
    background-color: #FFC450;
    padding: 4px 40px;
    font-size: 25px;
    color: #3F000B;
    font-weight: bold;
    margin-right: 10px;
    cursor: none;
}



/* 상단 버튼3 */
/* 너겟 크리미 밀크아몬드 */
.up_BTN03 {}
.up_BTN03 ul {
    display: flex;
    position: absolute;
    top: 143.8%;
    right: 23%;
}

.up_BTN03 li {
    border-radius: 50px;
    background-color: #3F000B;
    padding: 4px 40px;
    font-size: 25px;
    color: #FFC450;
    font-weight: bold;
    margin-right: 10px;
}

/* 마우스 hover 했을 때 버튼 컬러 반전 */
.up_BTN03 li:hover {
    border-radius: 50px;
    background-color: #FFC450;
    padding: 4px 40px;
    font-size: 25px;
    color: #3F000B;
    font-weight: bold;
    margin-right: 10px;
    cursor: none;
}



/* 초콜릿 상품 하단 */
.downChoco {
    width: 100%;
    height: 600px;
}

.downChoco ul {
    display: flex;
    justify-content: center;
}

.downChoco li {
    margin-right: 49px;
}

.downChoco a {
    cursor: none;
}





/* 하단 버튼1 */
/* 키세스 */
.down_BTN01 {}
.down_BTN01 ul {
    display: flex;
    position: absolute;
    left: 20.7%;
    top: 206%;
}

.down_BTN01 li {
    border-radius: 50px;
    background-color: #3F000B;
    padding: 4px 40px;
    font-size: 25px;
    color: #FFC450;
    font-weight: bold;
    margin-right: 10px;
}

/* 마우스 hover 했을 때 버튼 컬러 반전 */
.down_BTN01 li:hover {
    border-radius: 50px;
    background-color: #FFC450;
    padding: 4px 40px;
    font-size: 25px;
    color: #3F000B;
    font-weight: bold;
    margin-right: 10px;
    cursor: none;
}



/* 하단 버튼2 */
/* 리세스 */
.down_BTN02 {}
.down_BTN02 ul {
    display: flex;
    position: absolute;
    left: 41.4%;
    top: 206%;
}

.down_BTN02 li {
    border-radius: 50px;
    background-color: #3F000B;
    padding: 4px 40px;
    font-size: 25px;
    color: #FFC450;
    font-weight: bold;
    margin-right: 10px;
}

/* 마우스 hover 했을 때 버튼 컬러 반전 */
.down_BTN02 li:hover {
    border-radius: 50px;
    background-color: #FFC450;
    padding: 4px 40px;
    font-size: 25px;
    color: #3F000B;
    font-weight: bold;
    margin-right: 10px;
    cursor: none;
}





/* 하단 버튼3 */
/* 후퍼스 */
.down_BTN03 {}
.down_BTN03 ul {
    display: flex;
    position: absolute;
    right: 22.8%;
    bottom: -110.5%;
}

.down_BTN03 li {
    border-radius: 50px;
    background-color: #3F000B;
    padding: 4px 40px;
    font-size: 25px;
    color: #FFC450;
    font-weight: bold;
    margin-right: 10px;
}

/* 마우스 hover 했을 때 버튼 컬러 반전 */
.down_BTN03 li:hover {
    border-radius: 50px;
    background-color: #FFC450;
    padding: 4px 40px;
    font-size: 25px;
    color: #3F000B;
    font-weight: bold;
    margin-right: 10px;
    cursor: none;
}






/* footer 설정 */
footer {
    width: 100%;
    height: 150px;
}

.choco1 {
    width: 100%;
    height: 400px;
    position: relative;
}

.choco1 img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.choco2 {
    position: relative;
}

.choco2 img {
    position: absolute;
    left: 220px;
    bottom: 0;
}

.choco4 {
    position: relative;
}

.choco4 img {
    position: absolute;
    right: 230px;
    bottom: -20px;
}

.choco3 {
    position: relative;
}

.choco3 img {
    position: absolute;
    right: 0;
    bottom: 0;
}