/* 언어 설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #000;}
img {border: none; vertical-align: bottom;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: antiquewhite;
    
}


/* 메인페이지 스크롤바 색상 설정 */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #56230E;
}



/* 헤더 */
header {
    width: 100%;
    height: 40px;
    background-color: #56230E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: fixed;
    z-index: 10;
}


/* Home 설정 */
.left_nav {
    display: flex;
}
.left_nav li {
    margin-left: 10px;
}

.left_nav a {
    color: #FFC450;
    font-weight: bold;
}



/* Login / 장바구니 */
.right_nav {
    display: flex;
    
}
.right_nav li {
    margin-right: 20px;

}

.right_nav li i {}

.right_nav li a {
    position: relative;
    color: #FFC450;
    display: block;
}


/* 장바구니 갯수 */
.right_nav li span {
    right: -10px;
    top: -12px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    padding: 5px;
}



.right_nav i {
    width: 15px;
    height: 15px;
    color: #FFC450;
}





/* banner_gif 광고 배너 설정 */
.banner_gif {
    width: 100%;
    height: calc(500 - 40);
}

.banner_gif .vid {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

/* 화면에 꽉 채우려면 비디오 태그에 width 값 100퍼센트 줘야함. */
video {
    width: 100%;
}




/* buyInfo 설정 */
/* 구매 문구 */
.buyInfo {
    width: 100%;
    height: 150px;
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
    padding: 50px 0;
}

.buyInfo h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #56230E;

}

.buyInfo p {
    font-size: 15px;
    color: #56230E;
}






/* up_Box 설정 */
/* 초콜릿 제품 (상단) */
.up_Box {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.up_chocolate01 {
    margin-right: 20px;
}
.up_chocolate01 .img {
    
}
.up_chocolate01 .img a {
    display: inline-block;
}

.up_chocolate01 .won {
    text-align: center;
    font-weight: bold;
}

.up_chocolate01 .won a {
    color: #56230E;
}



.up_chocolate02 {
    margin-right: 20px;
}
.up_chocolate02 .img {}
.up_chocolate02 .img a {
    display: inline-block;
}
.up_chocolate02 .won {
    text-align: center;
    font-weight: bold;
}
.up_chocolate02 .won a {
    color: #56230E;
}



.up_chocolate03 {
    margin-right: 20px;
}
.up_chocolate03 .img {}
.up_chocolate03 .img a {
    display: inline-block;
}
.up_chocolate03 .won {
    text-align: center;
    font-weight: bold;
}
.up_chocolate03 .won a {
    color: #56230E;
}


/* ############################################### */

/* banner 설정 */
.banner {
    width: 100%;
    height: 800px;
    background-image: url(img/hs_ad01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.banner p {
    color: #FFC450;
    font-size: 100px;
    text-align: center;
    margin: 350px 0;
    font-family: 'SDSamliphopangche_Outline';
}



/* ############################################# */



/* down_Box 설정 */
/* 초콜릿 제품 (하단) */
.down_Box {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down_chocolate01 {
    margin-right: 20px;
}
.down_chocolate01 .img {}
.down_chocolate01 .img a {
    display: inline-block;
}

.down_chocolate01 .won {
    text-align: center;
    font-weight: bold;
}

.down_chocolate01 .won a {
    color: #56230E;
}




.down_chocolate02 {
    margin-right: 20px;
}
.down_chocolate02 .img {}
.down_chocolate02 .img a {
    display: inline-block;
}

.down_chocolate02 .won {
    text-align: center;
    font-weight: bold;
}
.down_chocolate02 .won a {
    color: #56230E;
}





.down_chocolate03 {
    margin-right: 20px;
}
.down_chocolate03 .img {}
.down_chocolate03 .img a {
    display: inline-block;
}

.down_chocolate03 .won {
    text-align: center;
    font-weight: bold;
}
.down_chocolate03 .won a {
    color: #56230E;
}


/* footer 설정 */
footer {
    width: 100%;
    height: 250px;
    background-color: #56240e7e;
    position: relative;
    
}
footer .footerLogo {
    text-align: center;
    padding-top: 40px;
}
footer p {
    text-align: center;
    padding-top: 40px;
    color: #000;
}


/* 팝업창 설정 */
.shop {
    display: none;
    position: fixed;
    background-color: rgba(169, 134, 96, 0.8);
    width: 100%;
    height: 200vh;
    left: 0;
    top: 0;
    color: #000;
}

.shop section {
    width: 90%;
    margin: 50px auto;
}

.shop section .info {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.shop div {
    background-color: #FFC450;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.shop div em {}

.shop div.btn {
    margin-top: -80px;
    background-color: transparent;
    text-align: center;
    display: block;
    
}


.shop div.btn button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: #56230E;
    margin-right: 30px;
    color: #FFC450;
    font-size: 20px;
    font-family: 'SUITE-Regular';
    
}
.shop div.btn button a {
    color: #FFC450;
}

.login {}