/* 언어설정 */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {
        font-family: 'JalnanGothic';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

/* reset */
* {margin: 0;
        padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
        color: #000;}
img {border: none;
        vertical-align: bottom;}
body {font-family: 'Noto Sans KR', sans-serif;}
body.fix {overflow: hidden;}




/* 박스1 설정 (네비/SNS) */
.box1 {width: 100%;
        height: 121px;
        background-color: #2B2F3E;
        display: flex;
        justify-content: space-around;
        align-items:center;
        text-align: center;}
.box1 .logo {width: 100px;
                height: 50px;
                padding-bottom: 20px;}
.box1 .menu {color: #eee;}
.box1 .menu ul {display: flex;
                justify-content: space-around;}
.box1 .menu li {margin-right: 40px;}
.menu a {color: #eee;}
.menu a:hover {
        color: #EEE6C4;
}

.box1 .util {}
.box1 .util ul {display: flex;
                justify-content: space-around;}
.box1 .util li {margin-right: 30px;}
.util a {color: #eee;}




/* 박스A설정 */

.boxA{width: 100%;
        height: calc(100vh - 121px);
        position: relative;
}



/* 박스2 설정 (히어로 부분) */
.box2 {width: 100%;
        height: 100%;}
.box2>div {width: 100%;
                height: 100%;
                overflow: hidden;
}


/* .box2 ul {
        display: flex;
        flex-wrap: nowrap;
        width: 300%;
        justify-content: space-around;
        align-items: center;
        } */


/* .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
} */

.slides {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex; 
}

.slides li {
        width: 100%; /* 각 슬라이드 이미지의 너비 설정 */
        flex-shrink: 0; /* 이미지가 줄어들지 않도록 설정 */
}

.slides img {
        width: 100%;
        height: 100%;
        display: block; /* 이미지들이 줄바꿈 되지 않도록 설정 */
}









/* 박스3 설정 <전시 예약 / 예약 시스템> */
.box3 h2 {
        color: #7C784B;
        margin: 0 200px;
}

.box3 {
        width: 100%;
        height: 300px;
        display: flex;
        /* justify-content: space-between; */
        padding-top: 30px;
        /* align-items: center; */
        /* background-color: yellowgreen; */
}

/* 예약하기  */
#reservation_group {
        width: 15%;
        height: 100px;
        border: 1px solid #222;
        background-color: #EEE6C4;
        border-radius: 5px;
        margin-left: 100px;
        margin-top: 50px;
}

.box3 > div {
        padding: 50px;
}

.input_group {
        margin-bottom: 20px;
}




/* 예약하기 버튼 설정 */
#reserve-button {
        background-color: #3C3636;
        color: #eee;
        padding: 10px 20px;
        text-align: center;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
        font-family: 'JalnanGothic';
}

#reserve-button:hover {
        background-color:#625E4E;
}


/* 예약 완료 화면 (팝업창) 설정 */
.fixed {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
}

.fixed.on {
        display: flex;
}

/* 예약화면 article  */
.fixed article {
        width: 50%;
        height: 60vh;
        background-color:#EEE6C4;
        border-radius: 10px;
        position: relative;
        padding: 20px;
}

/* X 버튼 설정 */
.fixed article p {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 40px;
        height: 40px;
        border: 1px solid #333;
        text-align: center;
        font-size: 30px;
        line-height: 1.1;
        background-color: #EEE6C4;
        cursor: pointer;
        color: #6e3838;
}


.fixed article p:hover {
        background-color: #96575774;
        
}



.fixed article ul {
        width: 60%;
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
}

.fixed article li {
        padding: 30px;
}

.fixed article div {
        margin-top: 80px;
        margin-left: 40px;
        /* background-color: #de721a; */
        color: rgb(42, 3, 3);
}










/* 박스5 설정2 */
.box5 {width: 100%;
        height: 500px;
        position: relative;
        
}
.box5 .box5_inner {width: 80%;
        height: 100px;
        margin: 300px auto;
        margin-top: 340px;
                }
.box5 .box5_inner h2 {color: #7C784B;
                text-align: left;
                margin: 50px 0;}
.box5 .titleBox {width: 80%;
                margin-left: 10%;
                margin-right: 30px;
                margin-bottom: 3px;}

.box5 .titleBox ul {display: flex;}
.box5 .titleBox li {padding: 0 10px;
                font-size: 20px;
                cursor: pointer;
                color: #000;
                border: 1px solid #ccc;
                                padding: 5px 30px;
                                background-color: #EEE6C4;
                                margin-right: 10px;
                                border-radius: 3px;}
.box5 .titleBox li.on {color: #000;}
.box5 .titleBox li:hover {text-decoration: underline;}

/* 
.box5 .titleBox li:nth-child(1) {border: 1px solid #ccc;
                                padding: 5px 30px;
                                background-color: #EEE6C4;
                                margin-right: 10px;
                                border-radius: 3px;}
.box5 .titleBox li:nth-child(2) {border: 1px solid #ccc;
                                padding: 5px 30px;
                                background-color: #EEE6C4;
                                margin-right: 10px;
                                border-radius: 3px;}
.box5 .titleBox li:nth-child(3) {border: 1px solid #ccc;
                                padding: 5px 30px;
                                background-color: #EEE6C4;
                                border-radius: 3px;} */

.box5 .titleBox li:nth-child(1):hover {background-color: #EEE6C4;}
.box5 .titleBox li:nth-child(2):hover {background-color: #625E4E;}
.box5 .titleBox li:nth-child(3):hover {background-color: #7C784B;}

.box5 .titleBox li:nth-child(1).on {background-color: #EEE6C4;}
.box5 .titleBox li:nth-child(2).on {background-color: #625E4E;}
.box5 .titleBox li:nth-child(3).on {background-color: #7C784B;}



.box5 .listBox {
                height: 250px;
                background-color: #EEE6C4;
                border: 1px solid #ccc;
                /* position: relative; */
                width: 80%;
                margin: 0 auto;
                }
.box5 .listBox ul {padding: 25px 30px;}
.box5 .listBox li {padding: 3px 0;}
.box5 .listBox>div {
                        width: 100%;
                        height: 100%;
                        display: none;}

/* 공지사항 리스트 목록 */
.news {background-color: #EEE6C4;
        color: #000;}
.article {background-color: #625E4E;
        }
.article a {
        color: #eee;
}
.article i {color: #eee;}
.qna {
        background-color: #7C784B;
}
.qna a {
        color: #eee;
}
.qna ul {}
.qna li {margin-top: 25px;}
.listBox span {display: block;
                text-align: right;}





/* 박스6 설정 */
.box6 {
        width: 100%;
        padding-top: 20px;
}

.box6 h2 {
        color: #7C784B;
        margin: 0 200px;
}
.box6 .listBox {display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 60px;}
.box6 ul {display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;}
.box6 li {margin: 0 20px;}
.box6 li:hover {transform: scale(1.1);
                        transition: all 0.8s;}





/* 박스7 설정 (배너바) */
.box7 {width: 100%;
        height: auto;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
background-image: url(img/banner.jpg);
background-attachment: fixed;
height: 500px;}

.box7  p{font-size: 60px;
font-weight: bold;
color: #fff;}





/* box8 설정 */
.box8 {width: 100%;
        height: 100vh;
        margin-top: 60px;
        position: relative;}
.box8 .map {}
.box8 h2 {color: #7C784B;
        margin-left: 191px;
        margin-bottom: 20px;}

.box8 iframe {width: 80%;
                height: 500px;
                margin-bottom: 50px;
                position: relative;
                left: 10%;
                bottom: 0%;}

.box8 .txtBox {}
.box8 .txtBox ul {width: 100%;
                height: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;}
.box8 .txtBox li {}
.box8 .txtBox strong {font-size: 24px;
                        color: #9A1010;}
.box8 .txtBox p {}



/* footer 설정 */
.footerBox {width: 100%;
        height: 200px;
        background-color: #3C3636;}
        
.footerBox ul {display: flex;
                justify-content: center;
                align-items: center;
                /* position: absolute;
                bottom: 30%;
                left: 43%; */
                font-size: 30px;
                }
.footerBox li {margin: 40px 10px;}
.footerBox a {
        color: #fff;
}
.footerBox p:nth-of-type(1) {
                color: #fff;
                font-size: 15px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                
                
}

.footerBox p:nth-of-type(2) {
        color:wheat;
        font-size: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        
}

